










a {
    text-decoration: none;
    color: #ffffff;

}

.boton_antiguo {
    font-size: 110%;
    background-color: rgb(42, 45, 45);
    border: 1px solid rgb(84, 84, 84);
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 1%;

}

.navegacion .boton:hover {
    background-color: rgb(234, 4, 4);

}

.font_titulo_pagina {
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 250%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.resaltado {
    color: red;
}

