@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

body {
    background-color: #000000;
    color: #ffffff;
}

*{
 /*border: 1px solid blanchedalmond;*/
   
}

.tipo_general {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font_titulo_pagina {
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 250%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.font_titulo_pagina span{
    color: red;
}


.boton {
    padding: .50rem 1rem;
    font-weight: bold;
    border-radius: 15px;
}


.tag {

    border: 1px solid rgb(84, 84, 84);
    border-radius: 10px;
    font-size: smaller;
    padding: .2rem 0.5rem;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #ffffff;
}




